.sub-nav-item {
  font-weight: 400;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  font-size: 0.7rem;
  color: rgba(255, 255, 255, 0.5);
}

.projects-nav-link {
  padding-bottom: 0;
}

.sub-nav-item .nav-link {
  padding: 0;
}

.nav-item-active {
  color: white;
}

#email-icon {
  color: #c66c33;
}

.card-text {
  min-height: 55px;
}

.banner-image-container {
  max-width: 480px;
}

.carousel-indicators .active {
  background-color: #c66c33;
}

.carousel-caption p {
  font-size: 0.5rem;
  color: #6c757d;
}

.carousel-indicators li {
  background-color: #be826a;
}

.fa-chevron-left {
  color: #be826a;
}

.fa-chevron-right {
  color: #be826a;
}
